h1{
    background-color: red;
    text-align: center;
    
}
body{
    background-color: green;
}

iframe{
        text-align: center;
        height : 75%;
        width : 75%;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

center{
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 17px;
  overflow: hidden;
  background-color:white;
  width: 100%
}
.posting{
    border: 30%
}

.postButtons{
    float: right;
}