

body{
    background-color: #F2F2F2;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
}

iframe{
        text-align: center;
        height : 75%;
        width : 75%;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

center {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 17px;
  overflow: hidden;
  background-color:white;
  width: 100%
}

.posting{
    border: 30%
}

.postButtons{
    float: right;
}

#posts-container {
    padding-top: 25px;
    background-color: white;
    /* 

    width: 70%;
    height: 100%;
    border: 1px solid red; */
}

.post-container {
    height: 150px;
    width: 40%;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
    margin-bottom: 15px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;    
    
    background-color: white;
    text-align: left;
    text-decoration: none;
    color: black;
}

.post-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.post-title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.post-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    font-size: 18px;
}

.mainPost {
    background-color: white;
    -webkit-box-shadow: 0px 2px 11px -5px rgba(0,0,0,1);
-moz-box-shadow: 0px 2px 11px -5px rgba(0,0,0,1);
box-shadow: 0px 2px 11px -5px rgba(0,0,0,1);
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start

}

#commentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
}

/* #submit-comment-button {

} */

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    font-size: 16px;
    width: 80%;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#discription {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#submit-comment-button {
    width: 70%;
    background-color: #33CDAB;
    padding: 7px 0;
    margin-bottom: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /* -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;     */
}

header img {
    height: 50px;
    width: auto;
    margin-right: 15px;
}

header > a {
    font-family: 'Roboto', sans-serif;
    /* text-transform: lowercase; */
    font-weight: 100;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
}

header nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.profile-image {
    /* border: 1px solid rgba(0,0,0,0.1); */
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.remove-button {
    background-color: transparent;
    border: 1px solid black;
    background-image: url('../assets/trash.png');
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: none;
}

.comment-list {
    background-color: white;
}

/* .trash-icon {
    height: 50px;
    width: auto;
}

.trash-icon:hover {
    height: 50px;
    width: auto;
    
} */

.des{
    background-color: white;
    -webkit-box-shadow: 0px 2px 11px -5px rgba(1,1,1,1);
-moz-box-shadow: 0px 2px 11px -5px rgba(1,1,1,1);
box-shadow: 0px 2px 11px -5px rgba(1,1,1,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start


}

.tle{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin: 1 1 5px 1;

}

.postButtons{
    width: 30%;
    background-color: #33CDAB;
    padding: 7px 0;
    margin-bottom: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left
}

#create-post-button img {
    height: 30px;
    width: auto;
}